/*
    26, 26, 26 => 54, 54, 54
    1A1A1A => 363636
 */
body {
    --team1: #E8002D;
    --team1-triplet: 232, 0, 45;
    --team1-fanfare1: #ED1C24;
    --team1-fanfare1-triplet: 237, 28, 36;
    --team1-fanfare2: #1A1A1A;
    --team1-fanfare2-triplet: 26, 26, 26;
    --team2: #FF8000;
    --team2-triplet: 255, 128, 0;
    --team2-fanfare1: #FF8000;
    --team2-fanfare1-triplet: 255, 128, 0;
    --team2-fanfare2: #1A1A1A;
    --team2-fanfare2-triplet: 26, 26, 26;
    --team3: #3671C6;
    --team3-triplet: 54, 113, 198;
    --team3-fanfare1: #1E4A98;
    --team3-fanfare1-triplet: 30, 74, 152;
    --team3-fanfare2: #3566BC;
    --team3-fanfare2-triplet: 53, 102, 188;
    --team4: #27F4D2;
    --team4-triplet: 39, 244, 210;
    --team4-fanfare1: #00F5D2;
    --team4-fanfare1-triplet: 0, 245, 210;
    --team4-fanfare2: #1A1A1A;
    --team4-fanfare2-triplet: 26, 26, 26;
    --team5: #0093CC;
    --team5-triplet: 0, 147, 204;
    --team5-fanfare1: #0078C9;
    --team5-fanfare1-triplet: 0, 120, 201;
    --team5-fanfare2: #FF87BC;
    --team5-fanfare2-triplet: 255, 135, 188;
    --team6: #64C4FF;
    --team6-triplet: 100, 196, 255;
    --team6-fanfare1: #0000FF;
    --team6-fanfare1-triplet: 0, 0, 255;
    --team6-fanfare2: #FFFFFF;
    --team6-fanfare2-triplet: 255, 255, 255;
    --team7: #B6BABD;
    --team7-triplet: 182, 186, 189;
    --team7-fanfare1: #FFFFFF;
    --team7-fanfare1-triplet: 255, 255, 255;
    --team7-fanfare2: #D6001C;
    --team7-fanfare2-triplet: 214, 0, 28;
    --team8: #6692FF;
    --team8-triplet: 102, 146, 255;
    --team8-fanfare1: #A8A9AC;
    --team8-fanfare1-triplet: 168, 169, 172;
    --team8-fanfare2: #1434CB;
    --team8-fanfare2-triplet: 20, 52, 203;
    --team9: #52E252;
    --team9-triplet: 82, 226, 82;
    --team9-fanfare1: #1A1A1A;
    --team9-fanfare1-triplet: 26, 26, 26;
    --team9-fanfare2: #FFFFFF;
    --team9-fanfare2-triplet: 255, 255, 255;
    --team10: #229971;
    --team10-triplet: 34, 153, 113;
    --team10-fanfare1: #00665E;
    --team10-fanfare1-triplet: 0, 102, 94;
    --team10-fanfare2: #CEDC00;
    --team10-fanfare2-triplet: 206, 220, 0;
}

.game_v4 {
    --team1: #E8002D;
    --team1-triplet: 232, 0, 45;
    --team1-fanfare1: #ED1C24;
    --team1-fanfare1-triplet: 237, 28, 36;
    --team1-fanfare2: #1A1A1A;
    --team1-fanfare2-triplet: 26, 26, 26;
    --team2: #FF8000;
    --team2-triplet: 255, 128, 0;
    --team2-fanfare1: #FF8000;
    --team2-fanfare1-triplet: 255, 128, 0;
    --team2-fanfare2: #1A1A1A;
    --team2-fanfare2-triplet: 26, 26, 26;
    --team3: #3671C6;
    --team3-triplet: 54, 113, 198;
    --team3-fanfare1: #1E4A98;
    --team3-fanfare1-triplet: 30, 74, 152;
    --team3-fanfare2: #3566BC;
    --team3-fanfare2-triplet: 53, 102, 188;
    --team4: #27F4D2;
    --team4-triplet: 39, 244, 210;
    --team4-fanfare1: #00F5D2;
    --team4-fanfare1-triplet: 0, 245, 210;
    --team4-fanfare2: #1A1A1A;
    --team4-fanfare2-triplet: 26, 26, 26;
    --team5: #0093CC;
    --team5-triplet: 0, 147, 204;
    --team5-fanfare1: #0078C9;
    --team5-fanfare1-triplet: 0, 120, 201;
    --team5-fanfare2: #FF87BC;
    --team5-fanfare2-triplet: 255, 135, 188;
    --team6: #64C4FF;
    --team6-triplet: 100, 196, 255;
    --team6-fanfare1: #0000FF;
    --team6-fanfare1-triplet: 0, 0, 255;
    --team6-fanfare2: #FFFFFF;
    --team6-fanfare2-triplet: 255, 255, 255;
    --team7: #B6BABD;
    --team7-triplet: 182, 186, 189;
    --team7-fanfare1: #FFFFFF;
    --team7-fanfare1-triplet: 255, 255, 255;
    --team7-fanfare2: #D6001C;
    --team7-fanfare2-triplet: 214, 0, 28;
    --team8: #6692FF;
    --team8-triplet: 102, 146, 255;
    --team8-fanfare1: #A8A9AC;
    --team8-fanfare1-triplet: 168, 169, 172;
    --team8-fanfare2: #1434CB;
    --team8-fanfare2-triplet: 20, 52, 203;
    --team9: #52E252;
    --team9-triplet: 82, 226, 82;
    --team9-fanfare1: #1A1A1A;
    --team9-fanfare1-triplet: 26, 26, 26;
    --team9-fanfare2: #FFFFFF;
    --team9-fanfare2-triplet: 255, 255, 255;
    --team10: #229971;
    --team10-triplet: 34, 153, 113;
    --team10-fanfare1: #00665E;
    --team10-fanfare1-triplet: 0, 102, 94;
    --team10-fanfare2: #CEDC00;
    --team10-fanfare2-triplet: 206, 220, 0;
    --team11: #F00001;
    --team11-triplet: 240, 0, 1;
    --team11-fanfare1: #F00001;
    --team11-fanfare1-triplet: 240, 0, 1;
    --team11-fanfare2: #F00001;
    --team11-fanfare2-triplet: 240, 0, 1;
    --team12: #008CFF;
    --team12-triplet: 0, 140, 255;
    --team12-fanfare1: #008CFF;
    --team12-fanfare1-triplet: 0, 140, 255;
    --team12-fanfare2: #008CFF;
    --team12-fanfare2-triplet: 0, 140, 255;
    --team13: #0401EC;
    --team13-triplet: 4, 1, 236;
    --team13-fanfare1: #0401EC;
    --team13-fanfare1-triplet: 4, 1, 236;
    --team13-fanfare2: #0401EC;
    --team13-fanfare2-triplet: 4, 1, 236;
    --team14: #9DB4C9;
    --team14-triplet: 157, 180, 201;
    --team14-fanfare1: #9DB4C9;
    --team14-fanfare1-triplet: 157, 180, 201;
    --team14-fanfare2: #9DB4C9;
    --team14-fanfare2-triplet: 157, 180, 201;
    --team15: #FFFFFF;
    --team15-triplet: 255, 255, 255;
    --team15-fanfare1: #FFFFFF;
    --team15-fanfare1-triplet: 255, 255, 255;
    --team15-fanfare2: #FFFFFF;
    --team15-fanfare2-triplet: 255, 255, 255;
    --team16: #FF9042;
    --team16-triplet: 255, 144, 66;
    --team16-fanfare1: #FF9042;
    --team16-fanfare1-triplet: 255, 144, 66;
    --team16-fanfare2: #FF9042;
    --team16-fanfare2-triplet: 255, 144, 66;
    --team17: #7B3212;
    --team17-triplet: 123, 50, 18;
    --team17-fanfare1: #7B3212;
    --team17-fanfare1-triplet: 123, 50, 18;
    --team17-fanfare2: #7B3212;
    --team17-fanfare2-triplet: 123, 50, 18;
    --team18: #03C6FC;
    --team18-triplet: 3, 198, 252;
    --team18-fanfare1: #03C6FC;
    --team18-fanfare1-triplet: 3, 198, 252;
    --team18-fanfare2: #03C6FC;
    --team18-fanfare2-triplet: 3, 198, 252;
    --team19: #6E6E6E;
    --team19-triplet: 110, 110, 110;
    --team19-fanfare1: #6E6E6E;
    --team19-fanfare1-triplet: 110, 110, 110;
    --team19-fanfare2: #6E6E6E;
    --team19-fanfare2-triplet: 110, 110, 110;
    --team20: #DD4501;
    --team20-triplet: 221, 69, 1;
    --team20-fanfare1: #DD4501;
    --team20-fanfare1-triplet: 221, 69, 1;
    --team20-fanfare2: #DD4501;
    --team20-fanfare2-triplet: 221, 69, 1;
    --team21: #7701FD;
    --team21-triplet: 119, 1, 253;
    --team21-fanfare1: #7701FD;
    --team21-fanfare1-triplet: 119, 1, 253;
    --team21-fanfare2: #7701FD;
    --team21-fanfare2-triplet: 119, 1, 253;
    --team22: #F00001;
    --team22-triplet: 240, 0, 1;
    --team22-fanfare1: #F00001;
    --team22-fanfare1-triplet: 240, 0, 1;
    --team22-fanfare2: #F00001;
    --team22-fanfare2-triplet: 240, 0, 1;
    --team23: #7701FD;
    --team23-triplet: 119, 1, 253;
    --team23-fanfare1: #7701FD;
    --team23-fanfare1-triplet: 119, 1, 253;
    --team23-fanfare2: #7701FD;
    --team23-fanfare2-triplet: 119, 1, 253;
    --team24: #FFFFFF;
    --team24-triplet: 255, 255, 255;
    --team24-fanfare1: #FFFFFF;
    --team24-fanfare1-triplet: 255, 255, 255;
    --team24-fanfare2: #FFFFFF;
    --team24-fanfare2-triplet: 255, 255, 255;
    --team25: #2F3D77;
    --team25-triplet: 47, 61, 119;
    --team25-fanfare1: #2F3D77;
    --team25-fanfare1-triplet: 47, 61, 119;
    --team25-fanfare2: #2F3D77;
    --team25-fanfare2-triplet: 47, 61, 119;
    --team26: #DD4501;
    --team26-triplet: 221, 69, 1;
    --team26-fanfare1: #DD4501;
    --team26-fanfare1-triplet: 221, 69, 1;
    --team26-fanfare2: #DD4501;
    --team26-fanfare2-triplet: 221, 69, 1;
    --team27: #008CFE;
    --team27-triplet: 0, 140, 254;
    --team27-fanfare1: #008CFE;
    --team27-fanfare1-triplet: 0, 140, 254;
    --team27-fanfare2: #008CFE;
    --team27-fanfare2-triplet: 0, 140, 254;
    --team28: #6E6E6E;
    --team28-triplet: 110, 110, 110;
    --team28-fanfare1: #6E6E6E;
    --team28-fanfare1-triplet: 110, 110, 110;
    --team28-fanfare2: #6E6E6E;
    --team28-fanfare2-triplet: 110, 110, 110;
    --team29: #0401EC;
    --team29-triplet: 4, 1, 236;
    --team29-fanfare1: #0401EC;
    --team29-fanfare1-triplet: 4, 1, 236;
    --team29-fanfare2: #0401EC;
    --team29-fanfare2-triplet: 4, 1, 236;
    --team30: #01D2F0;
    --team30-triplet: 1, 210, 240;
    --team30-fanfare1: #01D2F0;
    --team30-fanfare1-triplet: 1, 210, 240;
    --team30-fanfare2: #01D2F0;
    --team30-fanfare2-triplet: 1, 210, 240;
    --team31: #7B3212;
    --team31-triplet: 123, 50, 18;
    --team31-fanfare1: #7B3212;
    --team31-fanfare1-triplet: 123, 50, 18;
    --team31-fanfare2: #7B3212;
    --team31-fanfare2-triplet: 123, 50, 18;
    --team32: #838383;
    --team32-triplet: 131, 131, 131;
    --team32-fanfare1: #838383;
    --team32-fanfare1-triplet: 131, 131, 131;
    --team32-fanfare2: #838383;
    --team32-fanfare2-triplet: 131, 131, 131;
}
.game_v3 {
    --team1: #F91536;
    --team1-triplet: 249, 21, 54;
    --team1-fanfare1: #D61634;
    --team1-fanfare1-triplet: 214, 22, 52;
    --team1-fanfare2: #363636;
    --team1-fanfare2-triplet: 54, 54, 54;
    --team2: #F58020;
    --team2-triplet: 245, 128, 32;
    --team2-fanfare1: #F58020;
    --team2-fanfare1-triplet: 245, 128, 32;
    --team2-fanfare2: #363636;
    --team2-fanfare2-triplet: 54, 54, 54;
    --team3: #3671C6;
    --team3-triplet: 54, 113, 198;
    --team3-fanfare1: #1E4A98;
    --team3-fanfare1-triplet: 30, 74, 152;
    --team3-fanfare2: #3566BC;
    --team3-fanfare2-triplet: 53, 102, 188;
    --team4: #6CD3BF;
    --team4-triplet: 108, 211, 191;
    --team4-fanfare1: #6CD3BF;
    --team4-fanfare1-triplet: 108, 211, 191;
    --team4-fanfare2: #363636;
    --team4-fanfare2-triplet: 54, 54, 54;
    --team5: #2293D1;
    --team5-triplet: 34, 147, 209;
    --team5-fanfare1: #2293D1;
    --team5-fanfare1-triplet: 34, 147, 209;
    --team5-fanfare2: #F696EF;
    --team5-fanfare2-triplet: 246, 150, 239;
    --team6: #37BEDD;
    --team6-triplet: 55, 190, 221;
    --team6-fanfare1: #219BB7;
    --team6-fanfare1-triplet: 33, 155, 183;
    --team6-fanfare2: #37BEDD;
    --team6-fanfare2-triplet: 55, 190, 221;
    --team7: #B6BABD;
    --team7-triplet: 182, 186, 189;
    --team7-fanfare1: #0024A9;
    --team7-fanfare1-triplet: 0, 36, 169;
    --team7-fanfare2: #D4E1E7;
    --team7-fanfare2-triplet: 212, 225, 231;
    --team8: #5E8FAA;
    --team8-triplet: 94, 143, 170;
    --team8-fanfare1: #1F648A;
    --team8-fanfare1-triplet: 31, 100, 138;
    --team8-fanfare2: #5E8FAA;
    --team8-fanfare2-triplet: 94, 143, 170;
    --team9: #C92D4B;
    --team9-triplet: 201, 45, 75;
    --team9-fanfare1: #C92D4B;
    --team9-fanfare1-triplet: 201, 45, 75;
    --team9-fanfare2: #D4E1E7;
    --team9-fanfare2-triplet: 212, 225, 231;
    --team10: #358C75;
    --team10-triplet: 53, 140, 117;
    --team10-fanfare1: #358C75;
    --team10-fanfare1-triplet: 53, 140, 117;
    --team10-fanfare2: #CEDD86;
    --team10-fanfare2-triplet: 206, 221, 134;
    --team11: #F00001;
    --team11-triplet: 240, 0, 1;
    --team11-fanfare1: #F00001;
    --team11-fanfare1-triplet: 240, 0, 1;
    --team11-fanfare2: #F00001;
    --team11-fanfare2-triplet: 240, 0, 1;
    --team12: #008CFF;
    --team12-triplet: 0, 140, 255;
    --team12-fanfare1: #008CFF;
    --team12-fanfare1-triplet: 0, 140, 255;
    --team12-fanfare2: #008CFF;
    --team12-fanfare2-triplet: 0, 140, 255;
    --team13: #0401EC;
    --team13-triplet: 4, 1, 236;
    --team13-fanfare1: #0401EC;
    --team13-fanfare1-triplet: 4, 1, 236;
    --team13-fanfare2: #0401EC;
    --team13-fanfare2-triplet: 4, 1, 236;
    --team14: #9DB4C9;
    --team14-triplet: 157, 180, 201;
    --team14-fanfare1: #9DB4C9;
    --team14-fanfare1-triplet: 157, 180, 201;
    --team14-fanfare2: #9DB4C9;
    --team14-fanfare2-triplet: 157, 180, 201;
    --team15: #FFFFFF;
    --team15-triplet: 255, 255, 255;
    --team15-fanfare1: #FFFFFF;
    --team15-fanfare1-triplet: 255, 255, 255;
    --team15-fanfare2: #FFFFFF;
    --team15-fanfare2-triplet: 255, 255, 255;
    --team16: #FF9042;
    --team16-triplet: 255, 144, 66;
    --team16-fanfare1: #FF9042;
    --team16-fanfare1-triplet: 255, 144, 66;
    --team16-fanfare2: #FF9042;
    --team16-fanfare2-triplet: 255, 144, 66;
    --team17: #7B3212;
    --team17-triplet: 123, 50, 18;
    --team17-fanfare1: #7B3212;
    --team17-fanfare1-triplet: 123, 50, 18;
    --team17-fanfare2: #7B3212;
    --team17-fanfare2-triplet: 123, 50, 18;
    --team18: #03C6FC;
    --team18-triplet: 3, 198, 252;
    --team18-fanfare1: #03C6FC;
    --team18-fanfare1-triplet: 3, 198, 252;
    --team18-fanfare2: #03C6FC;
    --team18-fanfare2-triplet: 3, 198, 252;
    --team19: #6E6E6E;
    --team19-triplet: 110, 110, 110;
    --team19-fanfare1: #6E6E6E;
    --team19-fanfare1-triplet: 110, 110, 110;
    --team19-fanfare2: #6E6E6E;
    --team19-fanfare2-triplet: 110, 110, 110;
    --team20: #DD4501;
    --team20-triplet: 221, 69, 1;
    --team20-fanfare1: #DD4501;
    --team20-fanfare1-triplet: 221, 69, 1;
    --team20-fanfare2: #DD4501;
    --team20-fanfare2-triplet: 221, 69, 1;
    --team21: #7701FD;
    --team21-triplet: 119, 1, 253;
    --team21-fanfare1: #7701FD;
    --team21-fanfare1-triplet: 119, 1, 253;
    --team21-fanfare2: #7701FD;
    --team21-fanfare2-triplet: 119, 1, 253;
    --team22: #F00001;
    --team22-triplet: 240, 0, 1;
    --team22-fanfare1: #F00001;
    --team22-fanfare1-triplet: 240, 0, 1;
    --team22-fanfare2: #F00001;
    --team22-fanfare2-triplet: 240, 0, 1;
    --team23: #7701FD;
    --team23-triplet: 119, 1, 253;
    --team23-fanfare1: #7701FD;
    --team23-fanfare1-triplet: 119, 1, 253;
    --team23-fanfare2: #7701FD;
    --team23-fanfare2-triplet: 119, 1, 253;
    --team24: #FFFFFF;
    --team24-triplet: 255, 255, 255;
    --team24-fanfare1: #FFFFFF;
    --team24-fanfare1-triplet: 255, 255, 255;
    --team24-fanfare2: #FFFFFF;
    --team24-fanfare2-triplet: 255, 255, 255;
    --team25: #2F3D77;
    --team25-triplet: 47, 61, 119;
    --team25-fanfare1: #2F3D77;
    --team25-fanfare1-triplet: 47, 61, 119;
    --team25-fanfare2: #2F3D77;
    --team25-fanfare2-triplet: 47, 61, 119;
    --team26: #DD4501;
    --team26-triplet: 221, 69, 1;
    --team26-fanfare1: #DD4501;
    --team26-fanfare1-triplet: 221, 69, 1;
    --team26-fanfare2: #DD4501;
    --team26-fanfare2-triplet: 221, 69, 1;
    --team27: #008CFE;
    --team27-triplet: 0, 140, 254;
    --team27-fanfare1: #008CFE;
    --team27-fanfare1-triplet: 0, 140, 254;
    --team27-fanfare2: #008CFE;
    --team27-fanfare2-triplet: 0, 140, 254;
    --team28: #6E6E6E;
    --team28-triplet: 110, 110, 110;
    --team28-fanfare1: #6E6E6E;
    --team28-fanfare1-triplet: 110, 110, 110;
    --team28-fanfare2: #6E6E6E;
    --team28-fanfare2-triplet: 110, 110, 110;
    --team29: #0401EC;
    --team29-triplet: 4, 1, 236;
    --team29-fanfare1: #0401EC;
    --team29-fanfare1-triplet: 4, 1, 236;
    --team29-fanfare2: #0401EC;
    --team29-fanfare2-triplet: 4, 1, 236;
    --team30: #01D2F0;
    --team30-triplet: 1, 210, 240;
    --team30-fanfare1: #01D2F0;
    --team30-fanfare1-triplet: 1, 210, 240;
    --team30-fanfare2: #01D2F0;
    --team30-fanfare2-triplet: 1, 210, 240;
    --team31: #7B3212;
    --team31-triplet: 123, 50, 18;
    --team31-fanfare1: #7B3212;
    --team31-fanfare1-triplet: 123, 50, 18;
    --team31-fanfare2: #7B3212;
    --team31-fanfare2-triplet: 123, 50, 18;
}
.game_v2 {
    --team1: #DC0000;
    --team1-triplet: 220, 0, 0;
    --team2: #FF8700;
    --team2-triplet: 255, 135, 0;
    --team3: #0600EF;
    --team3-triplet: 6, 0, 239;
    --team4: #00D2BE;
    --team4-triplet: 0, 210, 190;
    --team5: #0090FF;
    --team5-triplet: 0, 144, 255;
    --team6: #005AFF;
    --team6-triplet: 0, 90, 255;
    --team7: #FFFFFF;
    --team7-triplet: 255, 255, 255;
    --team8: #2B4562;
    --team8-triplet: 43, 69, 98;
    --team9: #960000;
    --team9-triplet: 150, 0, 0;
    --team10: #006F62;
    --team10-triplet: 0, 111, 98;
}