.defaultTheme, body {
    --whiteColor: #F7F4F1;
    --whiteColor-triplet: 247, 244, 241;
    --whiteColor-darken05: #ece9e6;
    --whiteColor-darken05-triplet: 236, 233, 230;
    --whiteColor-darken10: #e0dedc;
    --whiteColor-darken10-triplet: 224, 222, 220;
    --whiteColor-darken20: #cac7c7;
    --whiteColor-darken20-triplet: 202, 199, 199;
    --whiteColor-darken30: #b3b1b2;
    --whiteColor-darken30-triplet: 179, 177, 178;
    --whiteColor-darken40: #9d9b9d;
    --whiteColor-darken40-triplet: 157, 155, 157;
    --lightGrayColor: #CBCBCB;
    --lightGrayColor-triplet: 203, 203, 203;
    --grayColor: #9E9E9E;
    --grayColor-triplet: 158, 158, 158;
    --darkGrayColor: #717171;
    --darkGrayColor-triplet: 113, 113, 113;
    --blackColor: #15151E;
    --blackColor-triplet: 21, 21, 30;
    --blackColor-lighten05: #202029;
    --blackColor-lighten05-triplet: 32, 32, 41;
    --blackColor-lighten10: #2c2b33;
    --blackColor-lighten10-triplet: 44, 43, 51;
    --blackColor-lighten20: #424248;
    --blackColor-lighten20-triplet: 66, 66, 72;
    --blackColor-lighten30: #59585d;
    --blackColor-lighten30-triplet: 89, 88, 93;
    --blackColor-lighten40: #6f6e72;
    --blackColor-lighten40-triplet: 111, 110, 114;
    --interactive: #303045;
    --interactive-triplet: 48, 48, 69;
    --interactive-lighten05: #3a3a4e;
    --interactive-lighten05-triplet: 58, 58, 78;
    --interactive-lighten10: #444456;
    --interactive-lighten10-triplet: 68, 68, 86;
    --interactive-lighten20: #585767;
    --interactive-lighten20-triplet: 88, 87, 103;
    --interactive-lighten30: #6c6b79;
    --interactive-lighten30-triplet: 108, 107, 121;
    --interactive-lighten40: #807e8a;
    --interactive-lighten40-triplet: 128, 126, 138;
    --interactive-darken05: #2f2f43;
    --interactive-darken05-triplet: 47, 47, 67;
    --interactive-darken10: #2d2d41;
    --interactive-darken10-triplet: 45, 45, 65;
    --interactive-darken20: #2b2b3d;
    --interactive-darken20-triplet: 43, 43, 61;
    --interactive-darken30: #282839;
    --interactive-darken30-triplet: 40, 40, 57;
    --interactive-darken40: #252535;
    --interactive-darken40-triplet: 37, 37, 53;
    --interactiveLight: #4B4B6B;
    --interactiveLight-triplet: 75, 75, 107;
    --interactiveGray: #32323B;
    --interactiveGray-triplet: 50, 50, 59;
    --background: #1C1C29;
    --background-triplet: 28, 28, 41;
    --backgroundLight: #2A2F3F;
    --backgroundLight-triplet: 42, 47, 63;
    --icon: #F7F4F1;
    --icon-triplet: 247, 244, 241;
    --text: #F7F4F1;
    --text-triplet: 247, 244, 241;
    --text-disabled: #9E9E9E;
    --text-disabled-triplet: 158, 158, 158;
    --text-focused: #303045;
    --text-focused-triplet: 48, 48, 69;
    --disabled: #32323B;
    --disabled-triplet: 50, 50, 59;
    --text-dark: #9E9E9E;
    --text-dark-triplet: 158, 158, 158;
    --panel: #1C1C29;
    --panel-triplet: 28, 28, 41;
    --accent: #F7F4F1;
    --accent-triplet: 247, 244, 241;
    --highlight: #00FFF7;
    --highlight-triplet: 0, 255, 247;
    --f1Red: #E10600;
    --f1Red-triplet: 225, 6, 0;
    --special: #B758E5;
    --special-triplet: 183, 88, 229;
    --negative: #FF4665;
    --negative-triplet: 255, 70, 101;
    --positive: #00FF99;
    --positive-triplet: 0, 255, 153;
    --caution: #FFDF3D;
    --caution-triplet: 255, 223, 61;
    --caution-darken05: #f2d43a;
    --caution-darken05-triplet: 242, 212, 58;
    --caution-darken10: #e6c937;
    --caution-darken10-triplet: 230, 201, 55;
    --caution-darken20: #ccb231;
    --caution-darken20-triplet: 204, 178, 49;
    --caution-darken30: #b39c2b;
    --caution-darken30-triplet: 179, 156, 43;
    --caution-darken40: #998625;
    --caution-darken40-triplet: 153, 134, 37;
    --warning: #FF6F1F;
    --warning-triplet: 255, 111, 31;
    --wet: #4491D2;
    --wet-triplet: 68, 145, 210;
    --drsGreen: #12C000;
    --drsGreen-triplet: 18, 192, 0;
    --design: #B758E5;
    --design-triplet: 183, 88, 229;
    --manufacture: #00FFF7;
    --manufacture-triplet: 0, 255, 247;
    --nextSeason: #00FF99;
    --nextSeason-triplet: 0, 255, 153;
    --positive: #00FF99;
    --positive-triplet: 0, 255, 153;
    --warning: #FF6F1F;
    --warning-triplet: 255, 111, 31;
    --warning-dark: #eb5400;
    --warning-dark-triplet: 235, 84, 0;
    --negative: #FF4665;
    --negative-triplet: 255, 70, 101;
    --dialogNeutral: #F7F4F1;
    --dialogNeutral-triplet: 247, 244, 241;
    --dialogLightNeutral: #00FFF7;
    --dialogLightNeutral-triplet: 0, 255, 247;
    --dialogSuccess: #00FF99;
    --dialogSuccess-triplet: 0, 255, 153;
    --dialogCompleted: #FFDF3D;
    --dialogCompleted-triplet: 255, 223, 61;
    --dots1: #B758E5;
    --dots1-triplet: 183, 88, 229;
    --dots2: #00FFF7;
    --dots2-triplet: 0, 255, 247;
    --dots3: #FFDF3D;
    --dots3-triplet: 255, 223, 61;
    --dots4: #FF6F1F;
    --dots4-triplet: 255, 111, 31;
    --dots5: #FF4665;
    --dots5-triplet: 255, 70, 101;
    --upgradeHQ: #B758E5;
    --upgradeHQ-triplet: 183, 88, 229;
    --notInPitWindow: #FF6F1F;
    --notInPitWindow-triplet: 255, 111, 31;
    --minorDamage: #FFDF3D;
    --minorDamage-triplet: 255, 223, 61;
    --special1: #FFDF3D;
    --special1-triplet: 255, 223, 61;
    --special2: #00FFF7;
    --special2-triplet: 0, 255, 247;
    --special3: #00FF99;
    --special3-triplet: 0, 255, 153;
    --special4: #E10600;
    --special4-triplet: 225, 6, 0;
    --special5: #B758E5;
    --special5-triplet: 183, 88, 229;
    --cold: #46D3FF;
    --cold-triplet: 70, 211, 255;
    --hot: #FF4665;
    --hot-triplet: 255, 70, 101;
    --sectorOpen: rgba(0, 0, 0, 0.5);
    --sectorOpen-triplet: 0, 0, 0;
    --sectorComplete: #FFD300;
    --sectorComplete-triplet: 255, 211, 0;
    --bestTime: #C227CF;
    --bestTime-triplet: 194, 39, 207;
    --sectorPersonalBest: #43D841;
    --sectorPersonalBest-triplet: 67, 216, 65;
    --greenFlag: #00D005;
    --greenFlag-triplet: 0, 208, 5;
    --yellowFlag: #FFD500;
    --yellowFlag-triplet: 255, 213, 0;
    --redFlag: #E43745;
    --redFlag-triplet: 228, 55, 69;
    --qualifyingNegativeColor: #810018;
    --qualifyingNegativeColor-triplet: 129, 0, 24;
    --raceControl: #002D5F;
    --raceControl-triplet: 0, 45, 95;
    --graph1: #FF4600;
    --graph1-triplet: 255, 70, 0;
    --graph2: #08D173;
    --graph2-triplet: 8, 209, 115;
    --graph3: #E0E800;
    --graph3-triplet: 224, 232, 0;
    --graph4: #4491D2;
    --graph4-triplet: 68, 145, 210;
    --graph5: #0059CB;
    --graph5-triplet: 0, 89, 203;
    --graph6: #E6E6E6;
    --graph6-triplet: 230, 230, 230;
    --gearboxColor: #FF4600;
    --gearboxColor-triplet: 255, 70, 0;
    --trackGrip: #FF4600;
    --trackGrip-triplet: 255, 70, 0;
    --acclimatisationColor: #FF4600;
    --acclimatisationColor-triplet: 255, 70, 0;
    --ersColor: #08D173;
    --ersColor-triplet: 8, 209, 115;
    --partsKnowledgeColor: #08D173;
    --partsKnowledgeColor-triplet: 8, 209, 115;
    --engineColor: #E0E800;
    --engineColor-triplet: 224, 232, 0;
    --trackRubber: #E0E800;
    --trackRubber-triplet: 224, 232, 0;
    --flyingLap: #4491D2;
    --flyingLap-triplet: 68, 145, 210;
    --inPitWindow: #4491D2;
    --inPitWindow-triplet: 68, 145, 210;
    --trackWater: #4491D2;
    --trackWater-triplet: 68, 145, 210;
    --traffic: #E6E6E6;
    --traffic-triplet: 230, 230, 230;
    --DHLYellow: #FFCC00;
    --DHLYellow-triplet: 255, 204, 0;
    --DHLRed: #D40511;
    --DHLRed-triplet: 212, 5, 17;
    --ScenarioPink: #F04DA3;
    --ScenarioPink-triplet: 240, 77, 163;
    --DeluxeBlue: #0092E1;
    --DeluxeBlue-triplet: 0, 146, 225;

    --team2-logo: #F58020;
    --team5-logo: #0C1D2C;
    --team6-logo: #00A3E0;
    --team7-logo: #E20613;
    --team8-logo: #2B4562;
    --team10-logo: #000000;
    --tyre0: #F2F1ED;
    --tyre0-triplet: 242, 241, 237;
    --tyre1: #FED301;
    --tyre1-triplet: 254, 211, 1;
    --tyre2: #F21C1C;
    --tyre2-triplet: 242, 28, 28;
    --tyre3: #3AC82C;
    --tyre3-triplet: 58, 200, 44;
    --tyre4: #4491D2;
    --tyre4-triplet: 68, 145, 210;
    --tyre0Used: #9C9C9C;
    --tyre0Used-triplet: 156, 156, 156;
    --tyre1Used: #FEEB8F;
    --tyre1Used-triplet: 254, 235, 143;
    --tyre2Used: #F89090;
    --tyre2Used-triplet: 248, 144, 144;
}