@import "./colors.css";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 22, 22, 22;
  --background-end-rgb: 22, 22, 22;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
          to bottom right,
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
          #ffffff80,
          #ffffff40,
          #ffffff30,
          #ffffff20,
          #ffffff10,
          #ffffff10,
          #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
  font-variant-numeric: tabular-nums;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: #acf;
  text-decoration: none;
}

html {
  color-scheme: dark;
}

#dropzone, .dropzone {
  width: 100%;
  transition: visibility 175ms, opacity 175ms;
  display: table;
  text-shadow: 1px 1px 2px #000;
  border: 2px dashed #777;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
}

@media (max-width: 768px){
  .sidebar-show {
    display: block;
  }
  .sidebar-hide {
    display: none;
  }
}

.headerContainer {
  display: flex;
}

.appStore {
  flex: 0 1 360px;
  text-align: right;
}

@media (max-width: 600px){

  .appStore {
    flex: 0 1 180px;
  }
}


.headerTitle {
  flex: 1 1 0;
}

.headerUser {
  flex: 0 1 250px;
  gap: 10px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.headerTitle h3 {
  font-size: 2.5rem;
}

.description {
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .wideScreenOnly {
    display: none;
  }
}

@media (max-width: 768px)  {
  .headerContainer {
    /* flex-direction: column; */
  }

  .headerTitle {
    flex: 1 1 0;
  }

  .headerTitle h3 {
    font-size: 1.8rem;
  }

  .headerUser {
    flex-basis: 200px;
    gap: 2px;
  }
}


.nopad {
  padding: 0!important;
}

.race_header_cell {
  border-right: 1px solid #777;
}

.race_cell_sprint {
  min-width: 32px!important;
  width: 32px;
}

.race_cell_race {
  min-width: 40px!important;
  width: 40px;
}

.race_cell_feature {
  min-width: 40px!important;
  width: 40px;
}

.race_cell_driver {
  min-width: 140px!important;
  width: 140px;
  padding-right: 0;
}

.race_cell_team {
  min-width: 180px!important;
  width: 180px;
  padding-left: 0;
  padding-right: 0;
}

.table_f1 .race_cell_team {
  min-width: 130px!important;
  width: 130px;
}

.table_f2 .race_cell_team {
  min-width: 200px!important;
  width: 200px;
}

.table_f3 .race_cell_driver {
  min-width: 200px!important;
  width: 200px;
}
.table_f3 .race_cell_team {
  min-width: 220px!important;
  width: 220px;
}

.noselect {
  user-select: none;
}

main {
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 90%;
}

@media (min-width: 1920px) {
  main {
    max-width: 1728px;
  }
}

.MuiDataGrid-editInputCell input[type="number"] {
  padding: 0;
  text-align: right;
}

.MuiDataGrid-cell--editable {
  background-image: url("/pencil.png");
  background-size: 8px;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}

#fullpage_dropzone {
  min-height: 100vh;
}

body {
  text-shadow: 0 0 1px;
}

.small {
  font-size: 90%;
}